# =========================
# Excel Temporary / Lock Files
# =========================
# Prevents Git from tracking the hidden lock files Excel creates when a workbook is open
~$*.xls
~$*.xlsx
~$*.xlsm
~$*.xlsb
~$*.xltx

# Excel Backup Files
*.xlk

# =========================
# Windows OS Files
# =========================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.lnk
Desktop.ini